<p style="color: green"><%= notice %></p>

<h1>Listing All Friends</h1>

<div id="friends">
<table class="table table-striped table-bordered">
  <thead class="thead-dark">
<tr>
<th>First Name</th>
<th>Last Name</th>
<th>Email</th>
<th>Phone</th>
<th>Twitter</th>
<th>User Id</th>
<th colspan="2"></th>
</tr>
</thead>
<tbody>
 <% @friends.each do |friend| %>
   <tr>
      <td><%=friend.firs_name%></td>
      <td><%=friend.last_name%></td>
      <td><%=friend.email%></td>
      <td><%=friend.phone%></td>
      <td><%=friend.twitter%></td>
      <td><%=friend.user_id%></td>
      <td>     <%=link_to "Show Friend", friend %></td>
      <td><%= link_to "Edit Friend", edit_friend_path(friend) %></td>




    </tr>
  <% end %>

</tbody>

</table>
<%= link_to "Add Friend", new_friend_path, class: "btn btn-secondary"%>



